/*
 * STYLES ADDED BY RESIDENTE DE TI DAVID OSORIO
 * ENERO - JUNIO 2019
 */

body, html {
  height: 100%;
	/* background: linear-gradient(to bottom, whitesmoke, #f1f1f1); */
}

.bg {
  /* The image used */
  background-image: url("../../images/bg.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #282828;
}

.bg:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(to bottom, dimgray, lightgray);
  opacity: 0.1;
}

.app-img {
  float: left;
}

.app-title {
  color: white;
  font-size: 50px;
  font-weight: 500;
  margin-top: 0.4rem;
  text-transform: uppercase;
}

.vl {
  border-left: 6px solid #ffc107;
  border-radius: 10px;
  height: 50px;
  margin: 20px 20px 0 20px;
}

.container1 {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container2 {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.op {
  border-radius: 12px;
  border: 2px solid white;
}

a.darken {
  display: inline-block;
  background: black;
  border-radius: 12px;
  padding: 0;
  text-align: center;
  color: white !important;
  font-size: 3em !important;
}

a.darken img {
  display: block;
}

a.darken:hover img {
  opacity: 0.7;
}

a.darken:hover .text-centered {
  top: 50%;
  font-size: 0.5em !important;
}

.text-centered {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}